ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */


/* it is a Element selector. */
/* Means all the element p will be colored in red. Element seletor means 
select all the same element. */

p{
  color:red; 
}


/* It is a Class Selector. */
/*selector mainly group one element the name of the class.
means here the class name is note. so, class selector will group all the elements with the class
name note and will apply css rule to it.  */

.note{
  font-size: 20px;
}

/* it is an Id Selector. */
/*It mainly select an id name by the id name. Like
here the name of the id is id-selector-demo. */

#id-selector-demo{
  color: green;
}

/* Id Selecotr vs Class Selector */
/* with Id Selector we can only choose one elecment in a single html file */
/* with the Class Selector we can choose a lot of elements */


/* It is an Attribute selector. */
/* the main work of the attribute selector is to apply css rule to all one element like here li,with the attribute
value like here value="4"(it can also be like li[class]) */

li[value="4"]{
  color: blue;
}

/* It is a Universal Selector */
/* The main work of the Universal Selector is to select all means everything */

*{
  text-align: center;
}
