body{
    background-color: black;
}

div{
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;

}

/* the text-transform property on MDN docs to make the h1 uppercase with CSS.*/
/* Link :   https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform  */
h1{
    text-transform: uppercase;
    font-size: 3rem;
}

img{
    border: 5px solid white;
    width: 100%;
}